/* Common CSS Styles */
* {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  line-height: normal;
  box-sizing: border-box;
  max-width: 1250px;
}

.btn-primary {
  border-radius: 5px;
  background: #fff;
  border: none;
  /* text */
  color: #005fac;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
}

/* Banner CSS Styles */
.banner img {
  width: 100%;
}
.banner-container {
  position: relative;
  text-align: center;
  color: #fff;
}
.banner-title {
  position: absolute;
  top: 10%;
  right: 10%;
  left: 45%;
  color: #fff;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
  /* max-width: 530px; */
}
.banner-description {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 10%;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 24px;
}
.banner .btn-primary {
  position: absolute;
  top: 70%;
  right: 10%;
}

/* failure section styles */
.failure-container {
  display: flex;
  margin: 140px 200px;
  gap: 100px;
}
.failure-image {
  width: 50%;
  display: inline-block;
}
#image {
  width: 100%;
}
.failure-text {
  width: 50%;
  display: inline-block;
}

.failure-title {
  color: var(--Dark-01, #151414);
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.failure-description {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

li {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* Plan Section styles */
.plans-heading {
  text-align: center;
  margin-bottom: 50px;
}
.plan-container {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
  gap: 80px;
}

.plans {
  text-align: center;
}
.icons {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}
.plan-title {
  color: var(--Dark-01, #151414);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.plan-description {
  color: var(--Dark-03, #737272);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

/* motivation banner styles */
.motivation-banner {
  margin: 0 auto;
  width: 1140px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 8px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 130px;
}

.mot-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}
.mot-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 60px;
}
.call-now {
  width: 160px;
  text-align: center;
}

/* footer section styles */
.footer-section {
  display: flex;
  background: var(--Dark-01, #151414);
  gap: 300px;
  padding: 130px 230px;
}
.foot-sec {
  width: 50%;
}
.subscribe {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}
#mail {
  display: block;
  border-radius: 8px;
  border: 1px solid #fff;
  width: 250px;
  height: 50px;
  background-color: #151414;
  color: var(--Dark-07, #f3f3f3);
  padding-left: 15px;
}

#sub-btn {
  background: #005fac;
  color: #fff;
  margin-top: 20px;
}
.footer-text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.img-container {
  display: flex;
  gap: 20px;
}

.nav-bar {
  display: flex;
  gap: 20px;
  justify-content: right;
  align-items: center;
}

.why-i-failed-title {
  text-align: center;
  margin: 0 auto;
}

.why-i-failed-container{

  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-items: center;
}